* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.content {
    display: flex;
    height: 100vh;
    background-color: black;
    margin: 10px;
}

.content-header {
    color: white;
    text-transform: uppercase;
    vertical-align: top;
    text-align: left;
    margin: 30px;
    padding: 30px;
}

.box {
    background-color: #FCE688;
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 20%;
}

.about-text {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 20px;
    color: white;
}

.calendar {
    position: relative;
    left: 10%;
    top: 13%;
    justify-content: center;
    justify-items: center;

}

.container {
    width: 1000px;
    height: 500px;
    border: 1px;
    position: relative;
    top: 14%;
}

.col {
    width: 200px;
    height: 250px;
    background-color: #FCE688;
    float: left;
    padding: 55px;
    margin: 25px;
    border-bottom: 30px solid;
}

.col:hover {
    opacity: 0.8;
}

.col p {
    color: white;
    position: relative;
    top: 160%;
    left: -168%;
    width: 400px;
    text-align: center;

}

.corner-box-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.corner-box {
    width: 300px;
    height: 600px;
    background: #FCE688;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin: 30px;
}


.corner-box-list {
    list-style-type: square;
    display: inline-block;
}