* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.front-page {
    display: flex;
    height: 100vh;
    background-color: black;
    justify-content:center; 
    align-items: center;
}

.slideshow {
    margin : 0 auto;
    overflow: hidden;
    max-width: 1000px;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
.slide {
    display: inline-block;
    height: 700px;
    width: 1000px;
  }

