.NavbarItems {
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
}

.navbar-logo {
  color:#FCE688;
  justify-self: start;
  margin-top: 30px;
  margin-left: 20px;
  padding-bottom: 30px;
  cursor: pointer;
}

.navbar-logo-img {
  padding-top: 20px;
  max-width: 180px;
  max-height: 180px;
  float:left;
}

.menu-icon{
  color: white;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(6,auto);
  grid-gap: 10px;
  list-style:none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2 rem;

}
.nav-links{
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover{
  border-bottom: 3px solid #FCE688;
}

